<h3 class="h3-tipografia-govco mt-3">
  <span class="govcolor-marine">CREAR PLANTILLA DE CORREO ELECTRÓNICO</span>
</h3>

<form [formGroup]="emailTemplateForm" (ngSubmit)="onSubmit()">
  <div class="rounded-3 mb-5 mt-3">
    <div class="row">
      <div class="col-md-4">
        <div class="entradas-de-texto-govco">
          <label for="input-basico-id">ID*:</label>
          <input type="text" id="input-basico-id" placeholder="123" disabled/>
        </div>
      </div>
    </div>

    <!-- Nombre -->
    <div class="row mt-3">
      <div class="col-md-8">
        <div class="entradas-de-texto-govco">
          <label for="nombre">Nombre*:</label>
          <input type="text" id="nombre" formControlName="nombre" placeholder="Ejemplo: Nombre de la plantilla"/>
          <div *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)" class="text-danger">
            El nombre es obligatorio.
          </div>
        </div>
      </div>
    </div>

    <!-- Descripción -->
    <div class="row mt-3">
      <div class="col-md-8">
        <div class="entradas-de-texto-govco">
          <label for="descripcion">Descripción*:</label>
          <textarea id="descripcion" formControlName="descripcion" aria-describedby="contador max-lenght"
            placeholder="Ejemplo: Descripción de la plantilla" maxlength="250" rows="3"
            style="width: 100%; border-radius: 5px; resize: none;"></textarea>
            <div *ngIf="descripcion?.invalid && (descripcion?.dirty || descripcion?.touched)" class="text-danger">
              La descripción es obligatoria.
            </div>
        </div>
      </div>
    </div>

    <!-- Asunto -->
    <div class="row mt-3">
      <div class="col-md-8">
        <div class="entradas-de-texto-govco">
          <label for="asunto">Asunto*:</label>
          <input type="text" id="asunto" formControlName="asunto" placeholder="Ejemplo: Asunto del correo"/>
          <div *ngIf="asunto?.invalid && (asunto?.dirty || asunto?.touched)" class="text-danger">
            El asunto es obligatorio.
          </div>
        </div>
      </div>
    </div>

    <!-- Cuerpo del correo -->
    <div class="row mt-3">
      <div class="col-md-8">
        <div class="entradas-de-texto-govco">
          <label for="cuerpoCorreo">Cuerpo del correo*:</label>
          <textarea id="cuerpoCorreo" formControlName="cuerpoCorreo" aria-describedby="contador max-lenght"
            placeholder="Ejemplo: Cuerpo del correo" maxlength="250" rows="6"
            style="width: 100%; border-radius: 5px; resize: none;"></textarea>
            <div *ngIf="cuerpoCorreo?.invalid && (cuerpoCorreo?.dirty || cuerpoCorreo?.touched)" class="text-danger">
              El cuerpo del correo es obligatorio.
            </div>
        </div>
      </div>
    </div>

    <!-- Botones -->
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn-govco outline-btn-govco btn-govco-custom btn-govco-space mt-1"
          [disabled]="emailTemplateForm.invalid">
          Guardar
        </button>
        <button type="button" class="btn-govco outline-btn-govco btn-govco-custom btn-govco-space btn-cancel mt-1"
          [routerLink]="['/plantilla-correo']">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</form>

<div #dialog></div>
