.table-responsive {
    overflow-x: auto;
    width: 90%;
    margin: 0 auto;
    -webkit-overflow-scrolling: touch;
  }

  .table {
    width: 100%;
    table-layout: fixed; /* Para que todas las columnas tengan el mismo tamaño */
    border-collapse: collapse;
  }

  .table th,
.table td {
  width: 20%; /* Ajusta este valor según el número de columnas para que sumen 100% */
  padding: 10px;
  text-align: left;
}
  .encabezado-tabla th {
    width: 20%; /* Puedes ajustar el valor según tus necesidades */
    padding: 10px; /* Espaciado interno para mejorar la apariencia */
    }
  
    .encabezado-tabla .columna-especial {
        width: 10%; 
      }

      .encabezado-tabla .columna-estado {
        width: 10%; 
      }