<h3 class="h3-tipografia-govco mt-3"><span class="govcolor-marine"> GESTIONAR PROCESO</span></h3>

<!--Inputs que traen la información-->
<div class="rounded-3 mb-5 mt-3">
  

  <div class="row">

    <!--Grupo-->
    <div class="col-md-3">
      <div class="row">
        <span class="text3-tipografia-govco govcolor-silver">Grupo/Subdirección*:</span>
        <span class="text2-tipografia-govco mt-1 bold-tipografia-govco" *ngIf="data">{{ data.grupo }}</span>
      </div>
    </div>
    
    <!--Proceso-->
    <div class="col-md-3">
      <div class="row">
        <span class="text3-tipografia-govco govcolor-silver">Proceso*:</span>
        <span class="text2-tipografia-govco mt-1 bold-tipografia-govco" *ngIf="data">{{ data.proceso }}</span>
      </div>
    </div>
    
    <!-- No Solicitud-->
    <div class="col-md-3">
      <div class="row">
        <span class="text3-tipografia-govco govcolor-silver">No. Solicitud*:</span>
        <span class="text2-tipografia-govco mt-1 bold-tipografia-govco" *ngIf="data">{{ data.noSolicitud }}</span>
      </div>
    </div>

    <!--No proyecto-->
    <div class="col-md-3">
      <div class="row">
        <span class="text3-tipografia-govco govcolor-silver">No. Proyecto*:</span>
        <span class="text2-tipografia-govco mt-1 bold-tipografia-govco" *ngIf="data">{{ data.noProyecto }}</span>
      </div>
    </div>
    
  </div>

</div>

<!--Menú para manejar los proceso-->
<div class="navbar-menu-govco blue-menu-govco">
  <nav class="navbar navbar-expand-lg navbar-menu-govco flex-column" role="navigation" aria-label="Menú ejemplo entidad">
    <div class="container-fluid container-second-navbar-menu-govco">
      <a class="navbar-brand navbar-toggler icon-entidad-menu-govco" href="#"></a>
      <button class="navbar-toggler button-responsive-menu-govco collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bars-menu-govco"></span>
      </button>
      <div>
        <ul class="navbar-nav flex-column ">
          <li class=" nav-item dropdown">
            <a class="nav-link dir-menu-govco active" aria-current="page" href="#" id="navbarDropdown1" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <span class="text-item-menu-govco ">ETAPAS DEL PROCESO</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link dir-menu-govco" aria-current="page" href="#">
              <span class="text-item-menu-govco">Lista de chequeo</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown1" role="button" aria-expanded="false">
              <span class="container-text-icon-menu-govco">
                <span class="text-item-menu-govco">Estudio de viabilidad</span>
                <span class="icon-caret-menu-govco"></span>
              </span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="container-text-icon-menu-govco">
                <span class="text-item-menu-govco">Información financiera</span>
                <span class="icon-caret-menu-govco"></span>
              </span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
              <li>
                <a class="button-modal-enabled-none" data-bs-toggle="modal" #openbuttonseeRequirements
                  data-bs-target="#verRequisitos" href="#" hidden="true"></a>
                <a class="dropdown-item dir-menu-govco me-0" type="button" tabindex="0" (click)="onSeeRequirementsModal()">
                  Ver requisitos</a>
              </li>
              <!-- Validacion criterio de aceptación 3 carpeta 11 Gestion de tareas  - solo mostrar boton si el estado esta en ejecución o en "revisar la hu " -->
              <li *ngIf="'En ejecución' === 'En ejecución'"><a class="dropdown-item dir-menu-govco" routerLink="/gestionar-tareas">Gestionar tareas</a></li>
              <li>
                <a class="button-modal-enabled-none" data-bs-toggle="modal" #openbutton data-bs-target="#cerrarEtapaModal"
                  href="#" hidden="true"></a>
                <a type="button" class="me-0" tabindex="0" (click)="onCloseProcessModal()">Cerrar Etapa</a>
              </li>
              <li>
                <a class="button-modal-enabled-none" data-bs-toggle="modal" #openbuttonReturn data-bs-target="#devolverEtapaModal"
                href="#" hidden="true"></a>
                <a type="button" class="me-0" tabindex="0" (click)="onReturnStageModal()">Devolver etapa</a></li>
              <li>
                <a class="button-modal-enabled-none" data-bs-toggle="modal" #openbuttonperformance data-bs-target="#Actuaciones"
                  href="#" hidden="true"></a>
                <a class="dropdown-item dir-menu-govco me-0" type="button" tabindex="0" (click)="onPerformanceModal()">Actuaciones</a>
              </li>
              <li><a class="dropdown-item dir-menu-govco" href="#"> Visor de alertas
                <span class="gov-co-ico govco-bell" style="font-size: 100;"></span></a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link dir-menu-govco disabled" aria-current="page" href="#" tabindex="-1" aria-disabled="true">
              <span class="text-item-menu-govco">Resolución</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link dir-menu-govco disabled" aria-current="page" href="#" tabindex="-1" aria-disabled="true">
              <span class="text-item-menu-govco">Oficio remisorio</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
   
  </nav>

  <div #dialog></div>
  <app-see-requirements></app-see-requirements>
  <app-close-stage></app-close-stage>
  <app-performances></app-performances>
  <app-return-stage></app-return-stage>

</div>


