/* Make navbar vertical */
.navbar-menu-govco {
  flex-direction: column;
  overflow: auto;
 
}



/* Style for dropdown menus */
/* Para el submenú */
.nav-item .dropdown-menu {
  display: inline-flexbox;
  position: absolute; /* Usa "absolute" para anclar el menú debajo */
  top: 0%; /* Se asegura de que esté justo debajo del elemento padre */
  left: 100%; /* Alinea a la izquierda del elemento padre */
  z-index: 1000; /* Asegura que se muestre al frente */
  background-color: white; /* Color de fondo blanco */
  box-shadow: rgba(0, 0, 0, 0.1); /* Añade una pequeña sombra */
  width: max-content; /* Ajusta el ancho para acomodar el contenido */
}

/* Muestra el submenú cuando el nav-item está enfocado o con hover */


/* Muestra los dropdowns cuando el nav-item está en focus-within */
.nav-item:focus-within > .dropdown-menu,
.nav-item:focus-within > .megamenu-menu-govco {
  display: flex;
  overflow: auto;
 
  }



/* Additional styles for nested dropdowns */
.dropdown-menu .dropdown-menu {
  margin-left: 1rem;
  top: 0;
  overflow: auto;
}


/*css para menu de prueba */
/* Alinear los elementos de la lista en horizontal */
ul.navbar-nav {
  display: flex; /* Cambia la disposición a flexbox */
  flex-direction: row; /* Organiza los elementos en una fila */
  padding: 0;
}

/* Ajustar los botones de nav-item en horizontal */


.nav-item-text {
  font-family: 'Montserrat-Medium';
  border: 0;
  background-color: inherit;
  text-align: left;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  color: #000000;
  min-height: 3rem;
  cursor: pointer;
}

/* Mantener el estilo de los íconos de chevron */
.nav-item-text .item-text-container {
  display: block;
  padding-right: 0.1rem;
  
}

.bi-chevron-down, .bi-chevron-up {
  color: #004884;
}

/* Mostrar/ocultar íconos según el estado */
.nav-item-text[aria-expanded="true"] .bi-chevron-down {
  display: none;
  background-color: white;
}

.nav-item-text[aria-expanded="false"] .bi-chevron-up {
  display: none;
}

/* Hover y focus para botones */
.nav-item-text:hover, .nav-item-text:focus {
  background-color: #ffab00;
  box-shadow: 0.25rem 0rem 0rem 0rem rgba(255, 171, 0, 0.6);
}
.nav-item-text[aria-expanded="true"] {
  background-color: white;
  box-shadow: 0.25rem 0rem 0rem 0rem rgba(255, 255, 255, 0.6);
  color: #004884;
  font-family: 'Montserrat-Bold';
}

.nav-item{
  background-color: white;
}


/* Estilos para las opciones del menú desplegable */
ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  padding: 0.6rem;
  color: #4b4b4b;
  font-size: 1rem;
  text-decoration: none;
}

a:hover, a:focus {
  background-color: #ffab00;
  color: #004884;
}

a.active {
  padding-left: 1rem;
  border-left: 0.2rem solid #ffab00;
  color: #004884;
  font-family: 'Montserrat-Bold';
}

li.nav-item {
  background-color: transparent !important; /* Quita el fondo gris */
  position: relative;
}


