<h3 class="h3-tipografia-govco mt-3"><span class="govcolor-marine"> GESTIONAR PROCESO</span></h3>

<!--Inputs que traen la información-->
<div class="rounded-3 mb-5 mt-3">

  <div class="row">


    <!--Grupo-->
    <div class="col-md-4">
      <label for="lista-desplegables" class="label-desplegable-govco"> Grupo/Subdirecci&oacute;n*:<span
          aria-required="true"></span></label>
      <div class="form-group pt-0 entradas-de-texto-govco">
        <div class="container-input-texto-govco">
          <ng-container>
            <input value="Subidrección 1" disabled type="text" placeholder="Ej. 23454">
          </ng-container>
        </div>
      </div>
    </div>
    <!--Proceso-->

    <div class="col-md-4">
      <label for="lista-desplegables" class="label-desplegable-govco"> Proceso*:<span
          aria-required="true"></span></label>
      <div class="form-group pt-0 entradas-de-texto-govco">
        <div class="container-input-texto-govco">
          <ng-container>
            <input value="proceso 1" disabled type="text" placeholder="Ej. 23454">
          </ng-container>
        </div>
      </div>
    </div>



    <!-- No Solicitud-->

    <div class="col-md-4">
      <label for="lista-desplegables" class="label-desplegable-govco"> No Solicitud*:<span
          aria-required="true"></span></label>
      <div class="form-group pt-0 entradas-de-texto-govco">
        <div class="container-input-texto-govco">
          <ng-container>
            <input value="234" disabled type="text" placeholder="Ej. 23454">
          </ng-container>
        </div>
      </div>
    </div>

    <!--No proyecto-->

    <div class="col-md-4">
      <label for="lista-desplegables" class="label-desplegable-govco"> No Proyecto*:<span
          aria-required="true"></span></label>
      <div class="form-group pt-0 entradas-de-texto-govco">
        <div class="container-input-texto-govco">
          <ng-container>
            <input value="234" disabled type="text" placeholder="Ej. 23454">
          </ng-container>
        </div>
      </div>
    </div>

  </div>

</div>

<!--menu de prueba-->
<!--<div class="container-navbar-menu-govco blue-menu-govco">
  <nav class="navbar navbar-expand-lg navbar-menu-govco" role="navigation" aria-label="Menú ejemplo entidad">
    <div class="container-fluid container-second-navbar-menu-govco">
      <a class="navbar-brand navbar-toggler icon-entidad-menu-govco" href="#"></a>
      <button class="navbar-toggler button-responsive-menu-govco collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bars-menu-govco"></span>
      </button>
      <div class="collapse navbar-collapse navbar-collapse-menu-govco" id="navbarScroll">
       
        <ul class="navbar-nav navbar-nav-menu-govco ms-auto">
          
          
          <li class="nav-item dropdown">
            <a class="nav-link"  id="navbarDropdown1"  data-bs-toggle="dropdown" >
              <span class="container-text-icon-menu-govco">
                <span class="text-item-menu-govco">ETAPAS DEL PROCESO</span>
                <span class="icon-caret-menu-govco"></span>
              </span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item dir-menu-govco" href="#">Lista de chequeo</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link"  id="navbarDropdown1" role="button"  aria-expanded="false">
                  <span class="container-text-icon-menu-govco">
                    <span class="text-item-menu-govco">Estudio de viabilidad</span>
                    <span class="icon-caret-menu-govco"></span>
                  </span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                  <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
                  <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
                  <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
                  <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item dir-menu-govco" href="#">Información financiera</a></li>
              <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="container-text-icon-menu-govco">
                <span class="text-item-menu-govco">PARTES INTERESADAS</span>
                <span class="icon-caret-menu-govco"></span>
              </span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
              <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
              <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
              <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
            </ul>
          </li>
         
          
        </ul>
      </div>
    </div>
  </nav>
</div>

-->

<!--Menú para manejar los proceso-->

<div class="navbar-menu-govco blue-menu-govco">
  <nav class="navbar navbar-expand-lg navbar-menu-govco flex-column" role="navigation"
    aria-label="Menú ejemplo entidad">
    <div class="container-fluid container-second-navbar-menu-govco">
      <a class="navbar-brand navbar-toggler icon-entidad-menu-govco" href="#"></a>
      <button class="navbar-toggler button-responsive-menu-govco collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="icon-bars-menu-govco"></span>
      </button>
      <div>

        <ul class="navbar-nav flex-column ">
          <li class=" nav-item dropdown">
            <a class="nav-link dir-menu-govco active" aria-current="page" href="#" id="navbarDropdown1" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <span class="text-item-menu-govco ">ETAPAS DEL PROCESO</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link dir-menu-govco" aria-current="page" href="#">
              <span class="text-item-menu-govco">Lista de chequeo</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown1" role="button" aria-expanded="false">
              <span class="container-text-icon-menu-govco">
                <span class="text-item-menu-govco">Estudio de viabilidad</span>
                <span class="icon-caret-menu-govco"></span>
              </span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <span class="container-text-icon-menu-govco">
                <span class="text-item-menu-govco">Información financiera</span>
                <span class="icon-caret-menu-govco"></span>
              </span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
              <li>
                <a class="button-modal-enabled-none" data-bs-toggle="modal" #openbuttonseeRequirements
                  data-bs-target="#verRequisitos" href="#" hidden="true"></a>
                <a class="dropdown-item dir-menu-govco me-0" type="button" tabindex="0"
                  (click)="onSeeRequirementsModal()">
                  Ver requisitos</a>
              </li>
              <!-- Validacion criterio de aceptación 3 carpeta 11 Gestion de tareas  - solo mostrar boton si el estado esta en ejecución o en "revisar la hu " -->
              <li *ngIf="'En ejecución' === 'En ejecución'"><a class="dropdown-item dir-menu-govco"
                  routerLink="/gestionar-tareas">Gestionar tareas</a></li>
              <li>
                <a class="button-modal-enabled-none" data-bs-toggle="modal" #openbutton
                  data-bs-target="#cerrarEtapaModal" href="#" hidden="true"></a>
                <a type="button" class="me-0" tabindex="0" (click)="onCloseProcessModal()">Cerrar Etapa</a>
              </li>
              <li><a class="dropdown-item dir-menu-govco" href="#">Devolver etapa</a></li>
              <li>
                <a class="button-modal-enabled-none" data-bs-toggle="modal" #openbuttonperformance
                  data-bs-target="#Actuaciones" href="#" hidden="true"></a>

                <a class="dropdown-item dir-menu-govco me-0" type="button" tabindex="0"
                  (click)="onPerformanceModal()">Actuaciones</a>
              </li>
              <li><a class="dropdown-item dir-menu-govco" href="#"> Visor de alertas
                  <span class="gov-co-ico govco-bell" style="font-size: 100;"></span></a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link dir-menu-govco disabled" aria-current="page" href="#" tabindex="-1" aria-disabled="true">
              <span class="text-item-menu-govco">Resolución</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link dir-menu-govco disabled" aria-current="page" href="#" tabindex="-1" aria-disabled="true">
              <span class="text-item-menu-govco">Oficio remisorio</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div #dialog></div>
  <app-see-requirements></app-see-requirements>
  <app-close-stage></app-close-stage>
  <app-performances></app-performances>
</div>