<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
  <section class="all-footer-container">
    <footer class="footer" role="contentinfo">
      <section class="fw_footer wrap_section-footer container-fluid">
        <div class="row">
          <div class="footer-int">
            <div class="region region-footer">
              <section id="block-block-content-ac82074c-01e0-4123-b814-f5ec6d0b1bba"
                class="block block-block-content block-block-contentac82074c-01e0-4123-b814-f5ec6d0b1bba clearfix">
                <div id="ac82074c-01e0-4123-b814-f5ec6d0b1bba" class="collapsiblock" data-collapsiblock-action="2">
                </div>
                <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                  <div class="he_footerg">
                    <div class="container">
                      <div class="card" style="position: relative; top: -69px; border: 1px solid #31bbe2 !important; border-radius: 10px;">
                        <div class="card-body">
                          <h3>Ministerio de Vivienda, Ciudad y Territorio de Colombia
                          </h3> <br />
                          <h4>Sede Principal</h4>
                          <p>Sede Atención al Usuario y de Correspondencia: Calle 17
                            No. 9 - 36 piso 3, Bogotá, D. C., Colombia<br /> Código
                            Postal: 110321<br /> Horario de atención: lunes a
                            viernes, 8:00 a.m. a 4:00 p.m.</p>
                            <div class="he_gov_list">
                              <p> <span class="min-call"></span> Teléfono Conmutador:
                                60 (1)7366060 - Horario: 8:00 am a 5:30 pm<br> <span class="min-call"></span> PBX: 60
                                (1)3323434
                                - Horario: 8:00 am a 5:30 pm<br> <span class="min-call"></span> Línea gratuita:
                                018000127401 - Horario: 8:00 am a 5:30 pm<br><i class="fas fa-envelope"></i> Correo
                                Institucional:
                                <a href="mailto:correspondencia@minvivienda.gov.co​"
                                  title="Escribir al Correo institucional">correspondencia@minvivienda.gov.co​</a><br>
                                <i class="fas fa-envelope"></i> Correo Notificaciones
                                Judiciales: <a href="mailto:notificacionesjudici@minvivienda.gov.co" target="_blank"
                                  title="Escribir al correo Notificaciones Judiciales">notificacionesjudici@minvivienda.gov.co</a><br>
                              </p>
                              <section class="buttons">
                                <a href="https://twitter.com/minvivienda" target="_blank" class="govco-twitter" title="Enlace al Twitter de Minvivienda"></a>
                                <a href="https://www.instagram.com/minvivienda/" target="_blank" class="govco-instagram" title="Enlace al Instagram de Minvivienda"></a>
                                <a href="https://www.facebook.com/MinVivienda/" target="_blank" class="govco-facebook" title="Enlace al Facebook de Minvivienda"></a>
                                <a href="https://www.youtube.com/user/minvivienda" target="_blank" class="govco-youtube" title="Enlace a Youtube de Minvivienda"></a>
                                <a href="https://vm.tiktok.com/ZMRxMCuYb" target="_blank" class="govco-tiktok" title="Enlace a Tiktok de Minvivienda"></a>
                                <a href="https://www.linkedin.com/company/ministerio-de-vivienda" target="_blank" class="govco-linkedin" title="Enlace a LinkedIn de Minvivienda"></a>
                              </section>
                              <div class="clearfix"></div>
                              <br>
                              <div class="col-md-6 "><h4>Sede Administrativa "La Botica"</h4><p> Dirección: Carrera 6 # 8-77, Bogotá, D. C., Colombia</p></div>
                              <div class=" "><div class="he_gov_list"> <br><p> <a href="https://minvivienda.gov.co/politicas-minvivienda" target="_blank" title="Politicas de Minvivienda">Políticas</a> </p></div></div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="logos-inner">
                    <div class="container">
                      <div class="logos-container">
                        <div class="logo_co logo_co_img col-sm-4 col-xs-6 col-md-1">
                          <a href="https://www.colombia.co/" target="_blank" title="Clic para acceder a CO Colombia">
                            <img alt="logo CO Colombia"
                              src="https://www.minvivienda.gov.co/sites/default/files/logo_co_footer.png" />
                          </a>
                        </div>
                        <div class="logog logog_img col-sm-4 col-xs-6 col-md-2">
                          <a href="https://www.gov.co/" target="_blank" title="Clic para acceder a GOVCO">
                            <img alt="logo GOVCO"
                              src="https://www.minvivienda.gov.co/sites/default/files/logo_footer.png" />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>
    </footer>
  </section>
</div>
