<h4 class="h4-tipografia-govco mt-3 mb-4">
    <span class="govcolor-marine">PERMISOS DE LECTURA DE SOLICITUDES</span>
</h4>

<form [formGroup]="form">
    <div class="row mb-3">
        <div class="col">
            <p lang="en" class="text2-tipografia-govco">Seleccione el usuario*:</p>
            <div class="d-flex ms-2">
                <div class="radio-seleccion-govco">
                    <input type="radio" id="radio11" formControlName="usuario" value="interno"
                        (change)="onRadioChange()">
                    <label for="radio11">Usuario interno</label>
                </div>
                <div class="radio-seleccion-govco ms-4">
                    <input type="radio" id="radio12" formControlName="usuario" value="externo"
                        (change)="onRadioChange()">
                    <label for="radio12">Usuario externo</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3" *ngIf="form.value.usuario">
        <div class="row">
            <div class="col-12">
                <div class="entradas-de-texto-govco pb-0 text-nowrap">
                    <subsidios-input [control]="$any(formQueryScheme.get('numeroSolicitud'))" type="text"
                        label="No. Solicitud*:" [showStatus]="false" [maxLength]="20" [minLength]="1"
                        [required]="true"></subsidios-input>
                    <span *ngIf="!isExternalUser" class="govco-search ms-1"
                        [ngStyle]="{'font-size': '1.4rem', 'color': form.value.numeroSolicitud ? '#3366CC' : '#A0A0A0', 'cursor': 'pointer'}"
                        (click)="form.value.numeroSolicitud ? onSearchNumberApplication() : null"></span>
                </div>

            </div>
        </div>

        <div class="col-6 col-xl-5 pt-2 select-etapa" *ngIf="clickedSearchNumberApplication && !isExternalUser">
            <subsidios-dropdown-list labelText="Etapa*:" idList="type-345676" type="basic" [disabled]="false"
                [lista]="opciones" formControlName="etapa" [isRequired]="true"></subsidios-dropdown-list>
        </div>
    </div>

    <div class="row mb-4" *ngIf="clickedSearchNumberApplication && !isExternalUser || isExternalUser">
        <div class="col">
            <button type="button" class="btn-govco outline-btn-govco btn-govco-custom btn-govco-space bg-marine mt-1"
                (click)="onSearchButton()">Buscar</button>
            <button type="button" class="btn-govco outline-btn-govco btn-govco-custom btn-govco-space btn-cancel mt-1"
                (click)="onCleanInputs()">Limpiar</button>
        </div>
    </div>
</form>



<app-modal-usuario-interno [internalGroups]="internalGroups" [showModalDeleteRegister]="showModalDeleteRegister"
    [internalGroupsPermissions]="internalGroupsPermissions"
    [showModalApplyPermissions]="showModalApplyPermissions"></app-modal-usuario-interno>


<app-modal-usuario-externo [externalGroups]="externalGroups"></app-modal-usuario-externo>


<div #dialog></div>
<app-add-roles-modal [internalGroups]="internalGroups"
    [showModalAddPermissions]="showModalAddPermissions"></app-add-roles-modal>
<a #openbuttonPermisosLectura href="#" data-bs-toggle="modal" data-bs-target="#rolesPermisosLecturaModal">
</a>
<a #openbuttonPermisosRoles href="#" data-bs-toggle="modal" data-bs-target="#rolesPermisosModal">
</a>
<a #openbuttonpermisosLecturaInternoModal href="#" data-bs-toggle="modal" data-bs-target="#permisosLecturaInternoModal">
</a>
<a #openbuttonaddRolesModal href="#" data-bs-toggle="modal" data-bs-target="#addRolesModal">
</a>