<div class="modal fade" id="cerrarEtapaModal" tabindex="-1" aria-labelledby="#cerrarEtapaModal" aria-hidden="true">
  <form>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class='row'>
            <h4 class="h4-tipografia-govco">
              <span class="govcolor-marine">
                Cerrar etapa de forma anormal
              </span>
            </h4>
          </div>
          <a href="#" role="button" data-bs-dismiss="modal" class="close-btn-modal" aria-label="Close" aria-expanded="false">
            <span class="modal-close-govco govco-times"></span>
          </a>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="mt-3 col-md-12">
              <subsidios-dropdown-list labelText="Motivo - Cierre anormal de etapa*" note="Seleccione una opción"
                idList="type-345676" type="basic" [disabled]="false">
              </subsidios-dropdown-list>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mt-3">
              <label class="label-govco text2-tipografia-govco govcolor-silver">Comentarios*:</label>
              <textarea class="form-control" placeholder="Ej. Descripción del esquema." rows="5"></textarea>
              <span id="campo-nota" class=" text2-tipografia-govco info-entradas-de-texto-govco">Ingrese la Descripción del comentario.</span>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn-govco fill-btn-govco btn-govco-custom btn-govco-space" (click)="showSuccessAlert()" type="button" >Guardar</button>
          <button type="button" class="btn-govco outline-btn-govco btn-govco-custom btn-govco-space" #closeModal  data-bs-dismiss='modal'  (click)="onCloseModal()">Cancelar</button>
        </div>
      </div>
    </div>
  </form>
  <div #dialog ></div>
</div>
