<div class="modal fade" id="seeTaskDocument" tabindex="-1" aria-labelledby="seeTaskDocument"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="h4-tipografia-govco">
          <span class="govcolor-marine">Ver radicado</span>
        </h4>
        <a href="#" role="button" data-bs-dismiss="modal" class="close-btn-modal" aria-label="Close"
          aria-expanded="false">
          <span class="modal-close-govco govco-times"></span>
        </a>
      </div>
      <div class="modal-body">
        <div class="me-4">
          <p class="ps-4">Contenido del documento...</p>
          <button type="button" class="btn-govco fill-btn-govco btn-govco-custom btn-govco-space ms-4"
            data-bs-target="#verRadicadoViewModal" data-bs-toggle="modal">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
