<h4 class="h3-tipografia-govco mt-3 mb-2">
    <span class="govcolor-marine">Gestionar documentos de tarea</span>
</h4>

<h4 class="h4-tipografia-govco mt-3 mb-2">
    <span class="govcolor-marine">Información Básica</span>
</h4>

<div class="row">
    <div class="col-md-5">
        <subsidios-dropdown-list labelText="Proceso:*" note="Seleccione el proceso" idList="type-345676" type="basic"
            [isRequired]="true" [disabled]="false"></subsidios-dropdown-list>
    </div>
    <div class="col-md-5">
        <subsidios-dropdown-list labelText="Etapa:*" note="Seleccione la etapa" idList="type-345676" type="basic"
            [disabled]="false" [isRequired]="true"></subsidios-dropdown-list>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-10">
        <div class="entradas-de-texto-govco">
            <subsidios-input [control]="$any(formQueryScheme.get('tarea'))" type="text" label="Tarea*:"
                placeholder="Ejemplo: Campo de texto" [showStatus]="false" [maxLength]="100" [minLength]="1"
                [required]="true"></subsidios-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <div class="entradas-de-texto-govco">
            <subsidios-input [control]="$any(formQueryScheme.get('descripcion'))" type="text" label="Descripción*:"
                placeholder="Ejemplo: Campo de texto" [showStatus]="false" [maxLength]="100" [minLength]="1"
                [required]="true"></subsidios-input>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="entradas-de-texto-govco pb-0 text-nowrap">
            <div class="row">
                <div class="col-md-8">
                    <subsidios-input [control]="$any(formQueryScheme.get('tiempoTarea'))" type="text"
                        label="Tiempo tarea (en días)*:" placeholder="Ejemplo: 5" [showStatus]="false" [maxLength]="10"
                        [minLength]="1" [required]="true"></subsidios-input>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-6">
        <div class="entradas-de-texto-govco text-nowrap">
            <label for="input-basico-id">Díás hábiles calendario*:</label>
            <div class="row">
                <div class="col-md-4 mb-1 mb-md-0">
                    <div class="radio-seleccion-govco ms-2">
                        <input type="radio" id="radio1" name="radioButton1" value="1">
                        <label for="radio1">Hábiles</label>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="radio-seleccion-govco ms-2">
                        <input type="radio" id="radio2" name="radioButton1" value="1">
                        <label for="radio2">Calendario</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 ">
        <div class="entradas-de-texto-govco pb-0 text-nowrap">
            <div class="row">
                <div class="col-md-8">
                    <subsidios-input [control]="$any(formQueryScheme.get('tiempoAlerta'))" type="text"
                        label="Tiempo alerta (en días)*:" placeholder="Ejemplo: 2" [showStatus]="false" [maxLength]="10"
                        [minLength]="1" [required]="true"></subsidios-input>
                </div>
            </div>

        </div>
        <p lang="en" class="text3-tipografia-govco">Avisar antes de su vencimiento</p>
    </div>

    <div class="col-md-6">
        <div class="entradas-de-texto-govco text-nowrap">
            <label for="input-basico-id">Díás hábiles calendario*:</label>
            <div class="row">
                <div class="col-md-4 col-md-4 mb-1 mb-md-0">
                    <div class="radio-seleccion-govco ms-2">
                        <input type="radio" id="radio3" name="radioButton2" value="1">
                        <label for="radio3">Hábiles</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="radio-seleccion-govco ms-2">
                        <input type="radio" id="radio4" name="radioButton2" value="1">
                        <label for="radio4">Calendario</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-6">
        <div class="entradas-de-texto-govco pb-0">
            <div class="d-flex justify-content-between">
                <label for="input-basico-id" class="pt-2">Asignación de responsable</label>
                <div class="checkbox-seleccion-govco m-2">
                    <input id="opt1" type="checkbox" />
                </div>
            </div>
        </div>
        <p lang="en" class="text3-tipografia-govco">Selecciona si se asigna el responsable desde el motor de procesos
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="entradas-de-texto-govco pb-0">
            <div class="d-flex justify-content-between">
                <label for="input-basico-id" class="pt-2">Ejecución de tarea desde motor</label>
                <div class="checkbox-seleccion-govco m-2">
                    <input id="opt1" type="checkbox" />
                </div>
            </div>
        </div>
        <p lang="en" class="text3-tipografia-govco">Selecciona si la tarea debe ser ejecutada desde el motor de
            procesos</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="entradas-de-texto-govco pb-0">
            <div class="d-flex justify-content-between">
                <label for="input-basico-id" class="pt-2">Activar tarea</label>
                <div class="checkbox-seleccion-govco m-2">
                    <input id="opt1" type="checkbox" />
                </div>
            </div>
        </div>
        <p lang="en" class="text3-tipografia-govco">Selecciona si la tarea estará activa en el motor de procesos</p>
    </div>
</div>


<h4 class="h4-tipografia-govco mt-3 mb-2">
    <span class="govcolor-marine">Información Asociada</span>
</h4>

<div class="row">
    <div class="col-md-6 col-lg-3">
        <p lang="en" class="text2-tipografia-govco text-nowrap">Roles ejecutores*:</p>
        <div class="checkbox-seleccion-govco m-2">
            <input id="opt1" type="checkbox" />
            <label for="opt1">Checkbox 1</label>
        </div>
        <div class="checkbox-seleccion-govco m-2">
            <input id="opt1" type="checkbox" />
            <label for="opt1">Checkbox 1</label>
        </div>
        <div class="checkbox-seleccion-govco m-2">
            <input id="opt1" type="checkbox" />
            <label for="opt1">Checkbox 1</label>
        </div>
        <div class="checkbox-seleccion-govco m-2">
            <input id="opt1" type="checkbox" />
            <label for="opt1">Checkbox 1</label>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <p lang="en" class="text2-tipografia-govco text-nowrap">Tipos documentales de salida*:</p>
        <div class="checkbox-seleccion-govco m-2">
            <input id="opt1" type="checkbox" />
            <label for="opt1" class="text-nowrap">Checkbox 1</label>
        </div>
        <div class="checkbox-seleccion-govco m-2">
            <input id="opt1" type="checkbox" />
            <label for="opt1">Checkbox 1</label>
        </div>
        <div class="checkbox-seleccion-govco m-2">
            <input id="opt1" type="checkbox" />
            <label for="opt1">Checkbox 1</label>
        </div>
        <div class="checkbox-seleccion-govco m-2">
            <input id="opt1" type="checkbox" />
            <label for="opt1">Checkbox 1</label>
        </div>
    </div>
</div>

<h4 class="h4-tipografia-govco mt-3 mb-2">
    <span class="govcolor-marine">Campos adicionales</span>
</h4>



<div class="row flex-column flex-lg-row" *ngFor="let campo of campos">
    <div class="col-md-6 col-lg-2 responsive-col text-nowrap">
        <subsidios-dropdown-list labelText="Tipo de campo:" idList="type-345676" type="basic"
            [disabled]="false"></subsidios-dropdown-list>
    </div>
    <div class="col-md-6 col-lg-2 responsive-col">
        <div class="entradas-de-texto-govco pt-0 text-nowrap">
            <label for="input-basico-id">Nombre:</label>
            <input type="text" id="input-basico-id" />
        </div>
    </div>
    <div class="col-md-6 col-lg-3 responsive-col">
        <div class="entradas-de-texto-govco pb-0 text-nowrap pt-0">
            <label for="input-basico-id">Descripción:</label>
            <input type="text" id="input-basico-id" />
        </div>
    </div>
    <div class="col-md-6 col-lg-1 responsive-col mb-3 mb-xl-0">
        <div class="checkbox-seleccion-govco text-xl-center text-start">
            <label for="opt1">Obligatorio:</label>
            <div class="d-flex justify-content-xl-center justify-content-start mt-2 ps-4 ps-xl-0">
                <input id="opt1" type="checkbox" />
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-3 responsive-col">
        <div class="entradas-de-texto-govco pt-0 text-nowrap">
            <label for="input-basico-id">Expresión regular de validación:</label>
            <input type="text" id="input-basico-id" />
        </div>
    </div>
    <div class="col-md-6 col-lg-1 responsive-col">
        <div class="d-flex justify-content-center align-items-center h-100">
            <span class="govco-times-circle" (click)="eliminarCampo(campo)"></span>
        </div>
    </div>
</div>

<button type="button" class="btn-govco outline-btn-govco btn-govco-custom btn-govco-space bg-marine mt-4"
    (click)="agregarCampo()">Agregar campo
    adicional</button>