<!--Este componente es para probar modal's-->
<h3 class="h3-tipografia-govco">Probar Modal(s)</h3>
<div class="rounded-3 mb-5 mt-3">
    <div class="row">
        <span> Modal 1</span>
        <a type="button" 
        class="me-1" 
        tabindex="0" 
        (click)="DeleteModal()"
        >
        Borrar
        </a>
    </div>
    <div class="row">
        <span> Modal 2</span>
        <a
        class="me-1"
        tabindex="0"
        data-bs-target="#seeTaskDocument"
        data-bs-toggle="modal"
        style="cursor: pointer"
      >
        Ver Documento
        </a>
    </div>
</div>
<app-see-task-document></app-see-task-document>
<div #dialog></div>