<h3 class="h3-tipografia-govco">
    <span class="govcolor-marine">Crear etapa</span>
</h3>
<div class="rounded-3 mb-5 mt-3">
    <div class="row">
        <subsidios-dropdown-list labelText="Proceso*:" note="Seleccione una opción" idList="type-345676" type="basic"
        [disabled]="false" [lista]="processOptions()">
        </subsidios-dropdown-list>
    </div>
    <div class="row">
        <div class="entradas-de-texto-govco">
            <label for="input-basico-id">Etapa*:</label>
            <input type="text" id="input-basico-id" placeholder="Ejemplo: Etapa..." />
            <label for="input-basico-id" type="text">Escriba el nombre de la etapa</label>
          </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p><span class="text1-tipografia-govco">Cierre anormal de etapa</span></p>
            <span class="text3-tipografia-govco">Seleccione si la etapa se puede cerrar de forma anormal.</span>
        </div>
        <div class="col-md-4">
            <div class="checkbox-seleccion-govco ms-2 mt-4">
                <input type="checkbox" id="checkbox11" name="checkbox1" value="0">
            </div>
        </div>    
    </div>
    <div class="row">
        <div class="col-md-4">
            <p><span class="text1-tipografia-govco">Devolver etapa</span></p>
            <span class="text3-tipografia-govco">Seleccione si la etapa se puede devolver.</span>
        </div>
        <div class="col-md-4">
            <div class="checkbox-seleccion-govco ms-2 mt-4">
                <input type="checkbox" id="checkbox11" name="checkbox1" value="1">
            </div>          
        </div>    
    </div>
    <div class="row">
        <div class="col-md-4">
            <p><span class="text1-tipografia-govco">Gestion de requisitos</span></p>
            <span class="text3-tipografia-govco">Seleccione si la etapa hace gestion de requisitos a traves del motor de proceso.</span>
        </div>
        <div class="col-md-4">
            <div class="checkbox-seleccion-govco ms-2 mt-4">
                <input type="checkbox" id="checkbox11" name="checkbox1" value="2">
            </div>           
        </div>    
    </div>
    <div class="row">
        <div class="col-md-4">
            <p><span class="text1-tipografia-govco">Ejecución secuencial de tareas</span></p>
            <span class="text3-tipografia-govco">Seleccione si las tareas de la etapa se realizarán de forma secuencial.</span>
        </div>
        <div class="col-md-4">
            <div class="checkbox-seleccion-govco ms-2 mt-4">
                <input type="checkbox" id="checkbox11" name="checkbox1" value="3">
            </div>           
        </div>    
    </div>
    <div class="row">
        <div class="col-md-4">
            <p><span class="text1-tipografia-govco">Activar etapa</span></p>
            <span class="text3-tipografia-govco">Seleccione si la etapa estará activa en el motor de proceso.</span>
        </div>
        <div class="col-md-4">
            <div class="checkbox-seleccion-govco ms-2 mt-4">
                <input type="checkbox" id="checkbox11" name="checkbox1" value="4">
            </div>           
        </div>    
    </div>
    <div class="row">
        <p></p>
        <p></p>
        <div class="col-md-12">
            <button type="button"
             class="btn-govco outline-btn-govco btn-govco-custom btn-govco-space  mt-1"
             (click)="SaveModal()">
                Guardar
               </button>   
               <button type="button" 
               class="btn-govco outline-btn-govco btn-govco-custom btn-govco-space btn-cancel mt-1"
               [routerLink]="['/consultar-etapas-proceso']">
                 Cancelar
               </button>
        </div>    
    </div>
</div>
<div #dialog></div>