<h3 class="h3-tipografia-govco mt-3"><span class="govcolor-marine"> Consultar plantillas correo electrónico </span></h3>


<div class="rounded-3 mb-5 mt-3">

    <div class="row mt-5">

        <!--Proceso-->

        <div class="col-md-4">

            <subsidios-dropdown-list labelText="Proceso" note="Seleccione una opción" idList="type-345676" type="basic"
                [disabled]="false" [lista]="processOptions()" (eventlist)="setSelectedProcess($event)">
            </subsidios-dropdown-list>
        </div>

        <!--Tipo documental-->
        <div class="col-md-4">
            <subsidios-dropdown-list labelText="Tipo documental" note="Seleccione una opción" idList="type-345676"
                type="basic" [disabled]="false" [lista]="documentOptions()" (eventlist)="setSelectedDocument($event)">
            </subsidios-dropdown-list>
        </div>



    </div>

    <div class="row mt-4 mb-3 text-left">
        <div class="col-md-12">

            <button type="submit" class="btn-govco outline-btn-govco btn-govco-custom btn-govco-space  mt-1">
                Buscar
            </button>

            <button type="button" class="btn-govco fill-btn-govco mt-1 btn-govco-space btn-govco-custom align-self-end"
                routerLink="/crear-plantilla-correo">
                Crear plantilla
            </button>
        </div>
    </div>



    <div class="row mt-5">
        <div class="col-md-10">
            <h4 class="h4-tipografia-govco mt-3 mb-2">
                <span class="govcolor-marine">
                    Resultado de consulta
                </span>
            </h4>
        </div>
        <div class="col-md-2">
            <p lang="es" class="text2-tipografia-govco mt-3 mb-2">
                Total registros: {{ process.length }}
            </p>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-general table-basic" aria-describedby="tableDescBasic">
            <thead class="encabezado-tabla">
                <tr>
                    <th class="columna-especial" role="button">Proceso</th>
                    <th role="button">Tipo documental</th>
                    <th role="button">Nombre</th>
                    <th role="button" style="text-align: center !important;">Descripción</th>
                    <th style="text-align: center !important;">Acciones</th>
                </tr>
            </thead>

            <tbody class="contenido-tablas">
                <tr *ngFor="let phase of process">
                    <td class="text-left">{{ phase.process }}</td>
                    <td class="text-left">{{ phase.documentType }}</td>
                    <td class="text-center">{{ phase.name }}</td>
                    <td class="text-center">{{ phase.description }}</td>


                    <td style="text-align: center !important; padding-right: 10px;">


                        <a type="button" class="me-0" href="#" tabindex="0">Ver detalle</a>
                        <span>&nbsp;/&nbsp;</span>


                        <a type="button" class="ms-2 me-2" tabindex="0">
                            Editar
                        </a>
                        <span>&nbsp;/&nbsp;</span>

                        <a type="button" class="ms-2 me-2" tabindex="0">
                            Eliminar
                        </a>




                    </td>
                </tr>
            </tbody>


        </table>
        <subsidios-paginator [totalCount]="4" [pageSize]="5" [currentPage]="2"></subsidios-paginator>
    </div>
</div>

<div #dialog></div>