<h3 class="h3-tipografia-govco">
    <span class="govcolor-marine">Diligenciar Campos Adicionales Tarea</span>
</h3>
<div class="rounded-3 mb-5 mt-3">
    <h4 class="h4-tipografia-govco mt-3 mb-2">
        <span class="govcolor-marine">
            Información Básica
        </span>
    </h4>
    <div class="row">
        <div class="col-md-4">
            <label for="lista-desplegables" class="label-desplegable-govco">Proceso<span aria-required="true">*:</span></label>
            <div class="desplegable-govco" style="width:255px; height: 40px;" id="lista-desplegables" data-type="basic">
            <select aria-invalid="false" aria-describedby="alert-id">
                <option disabled selected>Escoger</option>
                <option value="1">Proceso 1</option>
                <option value="2">Proceso 2</option>
                <option value="3">Proceso 3</option>
            </select>
            </div>
            <span class="alert-desplegable-govco" id="alert-id">Seleccione un proceso</span>
        </div>
        <div class="col-md-4">
            <label for="lista-desplegables" class="label-desplegable-govco">Etapa<span aria-required="true">*:</span></label>
            <div class="desplegable-govco" style="width:255px; height: 40px;" id="lista-desplegables2" data-type="basic">
            <select aria-invalid="false" aria-describedby="alert-id">
                <option disabled selected>Escoger</option>
                <option value="1">Etapa 1</option>
                <option value="2">Etapa 2</option>
                <option value="3">Etapa 3</option>
            </select>
            </div>
            <span class="alert-desplegable-govco" id="alert-id">Seleccione una etapa</span>
        </div>
    </div>
    <div class="row">
        <p></p>
        <p></p>
        <div class="col-md-2 entradas-de-texto-govco">
            <label for="input-basico-id">Tarea*:</label>
        </div>
        <div class="col-md-6 entradas-de-texto-govco">
            <input type="text" id="input-basico-id" placeholder="<Nombre de la tarea...>" disabled/>
        </div>
    </div>
    <div class="row">
        <h4 class="h4-tipografia-govco mt-3 mb-2">
            <span class="govcolor-marine">
                Campos adicionales
            </span>
        </h4>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label for="input-basico-id">Nombre:</label>
        </div>
        <div class="col-md-4">
            <span>
                Descripción:
            </span>
        </div>
        <div class="col-md-2">
            <span>
                Obligatorio:
            </span>
        </div>
        <div class="col-md-4">
            <span>
                Valor del campo:
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 entradas-de-texto-govco">
            <input type="text" id="input-basico-id" placeholder="Campo 1" disabled/>
        </div>
        <div class="col-md-4 entradas-de-texto-govco">
            <input type="text" id="input-basico-id" placeholder="" disabled/>
        </div>
        <div class="col-md-2">
            <div class="d-flex align-items-center">
                <div class="checkbox-seleccion-govco m-2">
                    <input id="opt1" type="checkbox" style="margin-left: 25px;"/>
                </div>
            </div>
        </div>
        <div class="col-md-4 entradas-de-texto-govco">
            <input type="text" id="input-basico-id" placeholder=""/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 entradas-de-texto-govco">
            <input type="text" id="input-basico-id" placeholder="Campo 2" disabled/>
        </div>
        <div class="col-md-4 entradas-de-texto-govco">
            <input type="text" id="input-basico-id" placeholder="" disabled/>
        </div>
        <div class="col-md-2">
            <div class="d-flex align-items-center">
                <div class="checkbox-seleccion-govco m-2">
                    <input id="opt1" type="checkbox" style="margin-left: 25px;"/>
                </div>
            </div>
        </div>
        <div class="col-md-4 entradas-de-texto-govco">
            <input type="text" id="input-basico-id" placeholder=""/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 entradas-de-texto-govco">
            <input type="text" id="input-basico-id" placeholder="Campo 3" disabled/>
        </div>
        <div class="col-md-4 entradas-de-texto-govco">
            <input type="text" id="input-basico-id" placeholder="" disabled/>
        </div>
        <div class="col-md-2">
            <div class="d-flex align-items-center">
                <div class="checkbox-seleccion-govco m-2">
                    <input id="opt1" type="checkbox" style="margin-left: 25px;"/>
                </div>
            </div>
        </div>
        <div class="col-md-4 entradas-de-texto-govco">
            <input type="text" id="input-basico-id" placeholder=""/>
        </div>
    </div>
    <div class="row">
        <p></p>
        <div class="col-md-12">
            <button type="button"
             class="btn-govco outline-btn-govco btn-govco-custom btn-govco-space  mt-1"
             (click)="SaveModal()">
                Guardar
               </button>   
               <button type="button" 
               class="btn-govco outline-btn-govco btn-govco-custom btn-govco-space btn-cancel mt-1"
               [routerLink]="['/diligenciar-acampos-tarea']">
                 Cancelar
               </button>
        </div>    
    </div>
</div>
<div #dialog></div>
