<div class="modal fade" id="rolesPermisosLecturaModal" tabindex="-1" aria-labelledby="rolesPermisosLecturaModalLabel"
  aria-hidden="true">
  <form>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <h4 class="h4-tipografia-govco">
              <span class="govcolor-marine">
                PERMISOS DE LECTURA
              </span>
            </h4>
          </div>
          <a href="#" role="button" data-bs-dismiss="modal" class="close-btn-modal" aria-label="Close"
            aria-expanded="false">
            <span class="modal-close-govco govco-times"></span>
          </a>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-6 col-xl-5">
              <p lang="en" class="text2-tipografia-govco">No. Solicitud:</p>
              <p lang="en" class="text2-tipografia-govco bold-tipografia-govco">12345678</p>
            </div>
            <div class="col-6 col-xl-5">
              <p lang="en" class="text2-tipografia-govco">Etapa:</p>
              <p lang="en" class="text2-tipografia-govco bold-tipografia-govco">Nombe etapa en ejecución</p>
            </div>
          </div>
          <table class="table table-general table-basic" aria-describedby="tableDescBasic">
            <thead class="encabezado-tabla">
              <tr>
                <th style="text-align: center !important">Actuación</th>
                <th style="text-align: center !important">Nombre archivo</th>
                <th style="text-align: center !important">Tipo&nbsp;documento</th>
                <th style="text-align: center !important">Lectura</th>
              </tr>
            </thead>
            <tbody class="contenido-tablas">
              <tr *ngFor="let group of externalGroups">
                <td style="text-align: center !important">{{ group.actuacion }}</td>
                <td style="text-align: center !important">{{ group.nombreArchivo }}</td>
                <td style="text-align: center !important">{{ group.tipoDocumento }}</td>
                <td style="text-align: center !important">
                  <div class="checkbox-seleccion-govco d-flex justify-content-center ">
                    <input id="opt1" type="checkbox" [checked]="group.lectura" disabled />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </form>
</div>