<h3 class="h3-tipografia-govco mt-3"><span class="govcolor-marine"> CONFIGURAR TIPOS DOCUMENTALES POR PROCESO </span>
</h3>

<div class="rounded-3 mb-5 mt-3">

    <div class="row">

        <!--Proceso-->

        <div class="col-md-4">

            <subsidios-dropdown-list labelText="Proceso" note="Seleccione una opción" idList="type-345676" type="basic"
                [disabled]="false">
            </subsidios-dropdown-list>
        </div>

        <!--Etapa-->
        <div class="col-md-4">
            <subsidios-dropdown-list labelText="Tipos documentales" note="Seleccione una opción" idList="type-345676"
                type="basic" [disabled]="false">
            </subsidios-dropdown-list>
        </div>

    </div>

    <div class="row mt-4 mb-3 text-left">
        <div class="col-md-12">
            <a class="button-modal-enabled-none" data-bs-toggle="modal" data-bs-target="#crearEsquemaModal" href="#"
                #openbuttoncreate></a>
            <button type="submit" class="btn-govco outline-btn-govco btn-govco-custom btn-govco-space  mt-1">
                Buscar
            </button>

            <button type="button" class="btn-govco fill-btn-govco mt-1 btn-govco-space btn-govco-custom">
                Guardar
            </button>

            <button type="button" class="btn-govco fill-btn-govco mt-1 btn-govco-space btn-govco-custom">
                Cancelar
            </button>
        </div>
    </div>


    <div class="row">
        <div class="col-md-10">
            <h4 class="h4-tipografia-govco mt-3 mb-2">
                <span class="govcolor-marine">
                    Resultado de consulta
                </span>
            </h4>
        </div>
        <div class="col-md-2">
            <p lang="es" class="text2-tipografia-govco mt-3 mb-2">
                Total registros: {{ tiposDocumentales.length }}
            </p>
        </div>
    </div>
    <div class="rounded-3 mb-5 mt-3">

        <!--Tabla-->
        <div class="table-responsive" style="overflow: hidden;">

            <table class="table table-general table-basic" aria-describedby="tableDescBasic">
                <!-- headers -->
                <thead class="encabezado-tabla">
                    <tr>
                        <th style="text-align: center !important;">Proceso</th>
                        <th style="text-align: center !important;">Tipos documentales</th>
                        <th style="text-align: center !important;">Acciones</th>
                    </tr>
                </thead>

                <tbody class="contenido-tablas">
                    <tr *ngFor="let process of tiposDocumentales">
                        <td class="text-center">{{ process.process }}</td>
                        <td class="text-center">{{ process.documents }}</td>


                        <td style="text-align: center !important; padding-right: 10px;">

                            <!-- ACCIONES PRA TAREAS GENERALES ASIGNADAS -->

                            <a type="button" class="ms-2 me-2" tabindex="0">Editar</a>

                            <span>&nbsp;/&nbsp;</span>

                            <a type="button" class="button-modal-enabled-none">Eliminar</a>





                        </td>
                    </tr>
                </tbody>
            </table>
            <subsidios-paginator [totalCount]="4" [pageSize]="5" [currentPage]="2"></subsidios-paginator>
        </div>



    </div>
</div>