<h3 class="h3-tipografia-govco">
    <span class="govcolor-marine">Configurar Alertas Generales</span>
</h3>
<div class="rounded-3 mb-5 mt-3">
    <div class="row">
        <label type="text">Días en los que se genera la alerta*:</label>
    </div>
    <div class="row">
        <div class="d-flex align-items-center">
            <div class="checkbox-seleccion-govco m-2">
                <input type="checkbox" id="opt1" name="diasAlerta" value="0" checked>
                <label for="opt1">L</label>
            </div>
            <div class="checkbox-seleccion-govco m-2">
                <input type="checkbox" id="opt2" name="diasAlerta" value="0" checked>
                <label for="opt2">M</label>
            </div>
            <div class="checkbox-seleccion-govco m-2">
                <input type="checkbox" id="opt3" name="diasAlerta" value="0" checked>
                <label for="opt3">X</label>
            </div>
            <div class="checkbox-seleccion-govco m-2">
                <input type="checkbox" id="opt4" name="diasAlerta" value="0" checked>
                <label for="opt4">J</label>
            </div>
            <div class="checkbox-seleccion-govco m-2">
                <input type="checkbox" id="opt5" name="diasAlerta" value="0" checked>
                <label for="opt5">V</label>
            </div>
            <div class="checkbox-seleccion-govco m-2">
                <input type="checkbox" id="opt6" name="diasAlerta" value="0">
                <label for="opt6">S</label>
            </div>
            <div class="checkbox-seleccion-govco m-2">
                <input type="checkbox" id="opt7" name="diasAlerta" value="0">
                <label for="opt7">D</label>
            </div>
        </div>
        <span class="alert-desplegable-govco" id="alert-id">Seleccione los días de la semana en los cuales se generará la alerta.</span>
    </div>
    <div class="row">
        <p></p>
        <p></p>
    </div>
    <div class="row">
        <subsidios-dropdown-list
         labelText="Hora en la que se genera la alerta*:"
         note="Seleccione la hora en la cual se generará la alerta."
         idList="type-345676"
         type="basic"
         style="width:450px; height: 150px;"
        [disabled]="false">
        </subsidios-dropdown-list>
        <p></p>
        <p></p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button"
             class="btn-govco outline-btn-govco btn-govco-custom btn-govco-space  mt-1"
             (click)="SaveModal()">
                Guardar
               </button>   
               <button type="button" 
               class="btn-govco outline-btn-govco btn-govco-custom btn-govco-space btn-cancel mt-1"
               [routerLink]="['/tipo-notificacion']">
                 Cancelar
               </button>
        </div>  
    </div>
</div>
<div #dialog></div>
