<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menú Vertical</title>
  <style>
    /* Incluye el CSS aquí */
  </style>
</head>
<body>
  <div class="container-navbar-menu-govco blue-menu-govco">
    <nav class="navbar navbar-expand-lg navbar-menu-govco" role="navigation" aria-label="Menú ejemplo entidad">
      <div class="container-fluid container-second-navbar-menu-govco">
        <a class="navbar-brand navbar-toggler icon-entidad-menu-govco" href="#"></a>
        <button class="navbar-toggler button-responsive-menu-govco collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bars-menu-govco"></span>
        </button>
        <div class="collapse navbar-collapse navbar-collapse-menu-govco" id="navbarScroll">
          <div class="container-search-icon-menu-govco navbar-toggler">
            <!-- SEARCH -->
            <div class="search-govco">
              <div class="bar-search-govco">
                <input type="text" placeholder="Buscar por componente" class="input-search-govco" aria-label="Buscador"/>
                <button class="icon-search-govco icon-close-search-govco" aria-label="Limpiar"></button>
                <div class="icon-search-govco search-icon-search-govco" aria-hidden="true"></div>
              </div>
              <div class="container-options-search-govco">
                <div class="options-search-govco">
                  <ul>
                    <li><a href="#" tabindex="-1">Sugerencia de búsqueda con la palabra <strong>Componente 1</strong></a></li>
                    <li><a href="#" tabindex="-1">Sugerencia de búsqueda con la palabra <strong>Componente 1</strong></a></li>
                    <li><a href="#" tabindex="-1">Sugerencia de búsqueda con la palabra <strong>Componente 1</strong></a></li>
                    <li><a href="#" tabindex="-1">Sugerencia de búsqueda con la palabra <strong>Componente 1</strong></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- END SEARCH -->
            <a class="icon-user-alt-menu-govco" href="#"></a>
          </div>
          <ul class="navbar-nav navbar-nav-menu-govco ms-auto">
            <li class="nav-item">
              <a class="nav-link dir-menu-govco active" aria-current="page" href="#">
                <span class="text-item-menu-govco">Inicio</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link dir-menu-govco" aria-current="page" href="#">
                <span class="text-item-menu-govco">Transparencia y acceso información pública</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button">
                <span class="text-item-menu-govco">Atención y Servicios a la ciudadanía</span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
                <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
                <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
                <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button">
                <span class="text-item-menu-govco">Participa</span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
                <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
                <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
                <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown has-megamenu-menu-govco">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button">
                <span class="text-item-menu-govco">Ítem menú adicional</span>
              </a>
              <div class="dropdown-menu megamenu-menu-govco" aria-labelledby="navbarDropdown3">
                <div class="g-3 container-items-govco">
                  <div class="colum-item-menu-govco">
                    <span class="title">Nombre sección interna 1</span>
                    <hr class="dropdown-divider">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
                      <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
                      <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
                      <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
                    </ul>
                  </div><!-- end col-3 -->
                  <div class="colum-item-menu-govco">
                    <span class="title">Nombre sección interna 2</span>
                    <hr class="dropdown-divider">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
                      <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
                      <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
                      <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
                    </ul>
                  </div><!-- end col-3 -->
                  <div class="colum-item-menu-govco">
                    <span class="title">Nombre sección interna 3</span>
                    <hr class="dropdown-divider">
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
                      <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
                      <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
                      <li><a class="dropdown-item dir-menu-govco" href="#">Trámites</a></li>
                    </ul>
                  </div><!-- end col-3 -->
                </div><!-- end g-3 -->
              </div><!-- end dropdown-menu -->
            </li><!-- end nav-item dropdown -->
          </ul><!-- end navbar-nav -->
        </div><!-- end navbar-collapse -->
      </div><!-- end container-fluid -->
    </nav><!-- end navbar -->
  </div><!-- end container-navbar-menu-govco -->
</body>
</html>
