<h4 class="h3-tipografia-govco mt-3 mb-4">
    <span class="govcolor-marine">Asociar documentos de entrada desde GESDOC</span>
</h4>

<div class="row">
    <div class="col-md-5">
        <subsidios-input [control]="$any(formQueryScheme.get('keyword'))" type="text" label="No. Radicado:"
            placeholder="Ej. 234" [showStatus]="false" [maxLength]="13" formControlName="noRadicado"
            typeValidation="alphanumeric"></subsidios-input>
    </div>

    <div class="col-md-7 md-mt-5">
        <div class="d-flex">
            <button type="button" class="btn-govco fill-btn-govco btn-govco-custom btn-govco-space"
                (click)="onSearchDocuments()">
                Buscar
            </button>
            <button class="btn-govco outline-btn-govco btn-govco-custom btn-govco-space">
                Limpiar
            </button>

        </div>
    </div>
</div>


<div class="table-responsive mt-4">
    <table class="table table-general table-basic" aria-describedby="tableDescBasic">
        <thead class="encabezado-tabla">
            <tr>
                <th role="button">No.&nbsp;Radicado</th>
                <th style="text-align: center !important">Acción</th>
                <th style="text-align: center !important">Seleccionar</th>
            </tr>
        </thead>

        <tbody class="contenido-tablas">
            <tr *ngFor="let item of data">
                <td class="text-left">{{ item.numeroRadicado }}</td>
                <td style="text-align: center !important; padding-right: 10px">
                    <!-- Acciones-->
                    <a class="button-modal-enabled-none" data-bs-toggle="modal" #openbuttonSeeScheme
                        data-bs-target="#verEsquemaModal" href="#"></a>
                    <a type="button" class="me-0" tabindex="0">Ver&nbsp;documento</a>
                </td>
                <td style="text-align: center !important;">
                    <div class="d-flex justify-content-center">
                        <input class="form-check-input" type="checkbox"
                            id="input-tratamiento-{{ item.numeroRadicado }}" />
                        <label class="form-check-label" for="input-tratamiento-{{ item.numeroRadicado }}"></label>
                    </div>
                </td>
            </tr>
        </tbody>

        <!--<tbody >
        <tr>
          <td colspan="7">
            No se encuentra información con los criterios de búsqueda seleccionados
          </td>
        </tr>
      </tbody>-->

        <!--  <tbody >
        <tr>
          <td colspan="7">
            <entidades-loading-modal></entidades-loading-modal>
          </td>
        </tr>
      </tbody>-->
    </table>
    <subsidios-paginator [totalCount]="6" [pageSize]="5" [currentPage]="1"></subsidios-paginator>
</div>
<button type="button" class="btn-govco fill-btn-govco btn-govco-custom btn-govco-space mt-1"
    (click)="onAssociateAlert()">
    Asociar
</button>

<button class="btn-govco outline-btn-govco btn-govco-custom btn-govco-space">
    Cancelar
</button>

<div #dialog></div>