<div class="modal fade" id="uploadSelectedDocumentModal" tabindex="-1" aria-labelledby="uploadSelectedDocumentModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="h4-tipografia-govco">
          <span class="govcolor-marine">Cargar &lt;&lt; Documento Seleccionado &gt;&gt;</span>
        </h4>
        <a href="#" role="button" data-bs-dismiss="modal" class="close-btn-modal" aria-label="Close"
          aria-expanded="false">
          <span class="modal-close-govco govco-times"></span>
        </a>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="container-carga-de-archivo-govco">
              <div class="loader-carga-de-archivo-govco">
                <div class="all-input-carga-de-archivo-govco">
                  <input type="file" name="inputFile" id="inputFile" class="input-carga-de-archivo-govco active" data-error="0" data-action="uploadFile" data-action-delete="deleteFile" multiple/>
                  <label for="inputFile" class="label-carga-de-archivo-govco">Selecciona el documento*</label>
                  <label for="inputFile" class="container-input-carga-de-archivo-govco">
                    <span class="button-file-carga-de-archivo-govco">Seleccionar archivo</span>
                    <span class="file-name-carga-de-archivo-govco">Sin archivo seleccionado</span>
                  </label>
                  <span class="text-validation-carga-de-archivo-govco">Sólo archivos Word, ZIP, Excel, PNG o PDF. Peso máximo: 2 MB</span>
                </div>
                <div class="load-button-carga-de-archivo-govco">
                  <div class="load-carga-de-archivo-govco">
                    <!-- indicador de carga -->
                    <div class="spinner-indicador-de-carga-govco" style="width: 32px; height: 32px; border-width: 6px;" role="status">
                      <span class="visually-hidden">Cargando...</span>
                    </div>
                    <!-- end indicador de carga -->
                  </div>
                  <div class="d-flex justify-content-between mt-3"> <!-- Contenedor flex para alinear los botones -->
                    <button class="button-loader-carga-de-archivo-govco custom-margin" (click)="onFileUploaded()" disabled>Cargar</button>
                    <button #closeModal type="button" data-bs-dismiss='modal' class="btn-govco outline-btn-govco btn-govco-custom btn-govco-space">Salir</button>
                  </div>
                </div>
              </div>
              <div class="container-detail-carga-de-archivo-govco">
                <span class="alert-carga-de-archivo-govco visually-hidden"></span>
                <div class="attached-files-carga-de-archivo-govco"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-uploaded-info-table></app-uploaded-info-table>
<div #dialog></div>
