<h3 class="h3-tipografia-govco">
    <span class="govcolor-marine">VER TIPO DE NOTIFICACIÓN PARA UN TIPO DOCUMENTAL DE UN PROCESO</span>
</h3>
<div class="rounded-3 mb-5 mt-3">
    <div class="row">
        <div class="col-md-4">
            <span class="text1-tipografia-govco">Proceso*:</span>
            <p><b><span class="text1-tipografia-govco">Nombre del proceso</span></b></p>
        </div>
        <div class="col-md-4">
            <span class="text1-tipografia-govco">Tipo documental*:</span>
            <p><b><span class="text1-tipografia-govco">Nombre del tipo documental</span></b></p>
        </div>
        <div class="col-md-4">
            <span class="text1-tipografia-govco">Tipo de notifiación*:</span>
            <p><b><span class="text1-tipografia-govco">Nombre del tipo de notificación</span></b></p>
        </div>
        <p></p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p><span class="text1-tipografia-govco">Término Notificación(En días)*:</span></p>
            <p><b><span class="text1-tipografia-govco">12</span></b></p>
        </div>
        <div class="col-md-6">
            <p><span class="text1-tipografia-govco">Días*:</span></p>
            <p><b><span class="text1-tipografia-govco">Hábiles</span></b></p>       
        </div>    
    </div>
    <div class="row">
        <p></p>
        <p></p>
        <div class="col-md-12">
            <button type="button" 
            class="btn-govco outline-btn-govco btn-govco-custom btn-govco-space btn-cancel mt-1"
            [routerLink]="['/Consultar-tipo-notificacion']">
              Cerrar
            </button> 
        </div>    
    </div>
</div>

