<h3 class="h3-tipografia-govco mt-3"><span class="govcolor-marine"> VER PLANTILLA DE CORREO ELECTRÓNICO PARA TIPO
        DOCUMENTAL</span></h3>


<ng-container *ngIf="loading">
    <div class="spinner-indicador-de-carga-govco" role="status" style="width: 60px; height: 60px; border-width: 8px;">
        <span class="visually-hidden">Cargando</span>
    </div>
</ng-container>

<ng-container *ngIf="!loading">
    <div class="rounded-3 mb-5 mt-3">
        <ng-container *ngIf="!loading">
            <div class="rounded-3 mb-5 mt-3">
                <div class="row">
                    <!--Proceso-->
                    <div class="col-md-4">
                        <span>Proceso*:</span>
                        <p><span><b>ABC</b></span></p>
                    </div>
                    <div class="col-md-4">
                        <span>Tipo documental*:</span>
                        <p><span><b>ABC</b></span></p>
                    </div>

                </div>
                <div class="row">
                    <span>Nombre*:</span>
                    <span><b>ABC........................................................................................................................</b></span>
                    <p></p>
                </div>
                <div class="row">
                    <span>Descripción*:</span>
                    <span><b>ABC........................................................................................................................</b></span>
                    <p></p>
                </div>
                <div class="row">
                    <span>C.C:</span>
                    <span><b>correo1&#64;gmail.com</b></span>
                    <p></p>
                </div>
                <div class="row">
                    <span>Asunto*:</span>
                    <span><b>ABC........................................................................................................................</b></span>
                    <p></p>
                </div>
                <div class="row">
                    <span>Cuerpo del correo*:</span>
                    <span><b>ABC........................................................................................................................</b></span>
                    <p></p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button type="button"
                            class="btn-govco fill-btn-govco mt-1 btn-govco-space btn-govco-custom align-self-end"
                            routerLink="/consultar-plantillas-correo">
                            Cerrar
                        </button>
                    </div>
                </div>
            </div>
            <div #dialog></div>
        </ng-container>