/* Fuente iconografica */
@font-face {
    font-family: "govco-font";
    src: url("/fonts/govco-font-icons.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  /* Montserrat-SemiBold */
  @font-face {
      font-family: 'Montserrat-SemiBold';
      src: url('/fonts/Montserrat-SemiBold.ttf');
  }
  
  /* Montserrat-Medium */
  @font-face {
      font-family: 'Montserrat-Medium';
      src: url('/fonts/Montserrat-Medium.ttf');
  }
  
  /* WorkSans-Regular */
  @font-face {
      font-family: 'WorkSans-Regular';
      src: url('/fonts/WorkSans-Regular.ttf');
  }
  
  /* WorkSans-Medium */
  @font-face {
    font-family: 'WorkSans-Medium';
    src: url('/fonts/WorkSans-Medium.ttf');
  }

.main-dashboard {
    height: 100vh;
}

@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1170px;
    }
}