<h4 class="h4-tipografia-govco mt-3"><span class="govcolor-marine"> CONSULTAR TAREAS POR RESPONSABLE</span></h4>


<div class="rounded-3 mb-5 mt-3" [formGroup]="formQueryTasks">


  <div class="row">

    <!--Proceso-->
    <div class="col-md-4">
      <label for='Proceso' class='form-label govcolor-tundora'>Proceso:</label>
      <select class='form-select select-dark-border desplegable-govco'  name='proceso' id='proceso' formControlName='proceso' autocomplete='off'>
        <option  class="govcolor-dim-gray" value="1" disabled selected hidden>Escoger</option> 
        <option *ngFor='let row of typesListProcess' [value]='row.value'>
          {{ row.text }}
        </option>
      </select>
      <label class=" entradas-de-texto-govco info-entradas-de-texto-govco govcolor-dim-gray" style="padding-top:10px ;">
        Seleccione el proceso</label>

    </div>

     <!--Etapa-->
     <div class="col-md-4">
      <label for='Proceso' class='form-label govcolor-tundora'>Etapa:</label>
      <select class='form-select select-dark-border desplegable-govco'  name='etapa' id='etapa' formControlName='etapa' autocomplete='off'>
        <option  class="govcolor-dim-gray" value="1" disabled selected hidden>Escoger</option> 
        <option *ngFor='let row of typesListStages' [value]='row.value'>
          {{ row.text }}
        </option>
      </select>
      <label class=" entradas-de-texto-govco info-entradas-de-texto-govco govcolor-dim-gray" style="padding-top:10px ;">
        Etapa donde se inicia la tarea</label>

      </div>

       <!--Estado tarea-->
     <div class="col-md-4">

      <label for='Proceso' class='form-label govcolor-tundora'>Estado tarea:</label>
      <select class='form-select select-dark-border desplegable-govco'  name='estadoTarea' id='estadoTarea' formControlName='estadoTarea' autocomplete='off'>
        <option  class="govcolor-dim-gray" value="1" disabled selected hidden>Escoger</option> 
        <option *ngFor='let row of typesListStates' [value]='row.value'>
          {{ row.text }}
        </option>
      </select>
      <label class=" entradas-de-texto-govco info-entradas-de-texto-govco govcolor-dim-gray" style="padding-top:10px ;">
        Seleccione un estado</label>
       
      </div>
   
    <!--Numero de solicitud-->
    <div class="col-md-4" style="padding-top: 15px;">
        <subsidios-input
        [control]="$any(formQueryTasks.get('keyword'))"
        type="text"
        label="No. Solicitud"
        placeholder="Ej. 234"
        [showStatus]="false"
        [maxLength]="8"
        [minLength]="1"
        typeValidation="alphanumeric"
        note="Ingrese un No. de solicitud"
      ></subsidios-input>
      </div>
 

  </div>

  <div class="row mt-4 mb-3 text-left">
    <div class="col-md-12">
      <a class="button-modal-enabled-none" data-bs-toggle="modal" data-bs-target="#crearEsquemaModal" href="#"
        #openbuttoncreate></a>
      <button (click)="filterResults()" class="btn-govco outline-btn-govco btn-govco-custom btn-govco-space  mt-1">
        Buscar
      </button>

      <button type="button"  (click)="resetFilters()"
      class="btn-govco outline-btn-govco btn-govco-custom btn-govco-space btn-cancel mt-1">
        Limpiar
      </button>
    </div>
  </div>

  <!--Tabla-->

  <div class="row">
    <div class="col-md-10">
      <h4 class="h4-tipografia-govco mt-3 mb-2">
        <span class="govcolor-marine">
          Resultado de consulta
        </span>
      </h4>
    </div>
    <div class="col-md-2">
      <p lang="es" class="text2-tipografia-govco mt-3 mb-2">
        Total registros: {{ filteredRequests.length }}
      </p>
    </div>
  </div>

  <div class="table-responsive">
    <div class="row govco-bg-blue-light">
      <h4 class="h4-tipografia-govco mt-3 mb-2 text-center">
          <span class="govcolor-marine">
              Tareas actuales
          </span>
      </h4>
     </div>

    <table class="table table-general table-basic" aria-describedby="tableDescBasic">
      <thead class="encabezado-tabla">
        <tr>
          <th style="text-align: center;" role="button" (click)="sortTable('nombreProceso')">
            Proceso
            <span *ngIf="sortColumn === 'nombreProceso' && sortDirection === 'asc'">▲</span>
            <span *ngIf="sortColumn === 'nombreProceso' && sortDirection === 'desc'">▼</span>
          </th>
          <th role="button" (click)="sortTable('expediente')">
            No. Solicitud
            <span *ngIf="sortColumn === 'expediente' && sortDirection === 'asc'">▲</span>
            <span *ngIf="sortColumn === 'expediente' && sortDirection === 'desc'">▼</span>
          </th>
          <th  class="text-align: center;" role="button" (click)="sortTable('estado')">
            Estado Solicitud
            <span *ngIf="sortColumn === 'estado' && sortDirection === 'asc'">▲</span>
            <span *ngIf="sortColumn === 'estado' && sortDirection === 'desc'">▼</span>

          </th>
          <th class="text-align: right; " role="button" (click)="sortTable('etapa')">
            Etapa
            <span *ngIf="sortColumn === 'etapa' && sortDirection === 'asc'">▲</span>
            <span *ngIf="sortColumn === 'etapa' && sortDirection === 'desc'">▼</span>

          </th>
          <th class="text-align: right;" role="button" (click)="sortTable('tarea')">
            Tarea
            <span *ngIf="sortColumn === 'tarea' && sortDirection === 'asc'">▲</span>
            <span *ngIf="sortColumn === 'tarea' && sortDirection === 'desc'">▼</span>
          </th>
          <th class="text-align: right; " role="button" (click)="sortTable('estadoTarea')">
            Estado Tarea
            <span *ngIf="sortColumn === 'estadoTarea' && sortDirection === 'asc'">▲</span>
            <span *ngIf="sortColumn === 'estadoTarea' && sortDirection === 'desc'">▼</span>
          </th>
          <th class="text-align: center;" role="button" (click)="sortTable('fechaVencimiento')">
            Fecha Vencimiento
            <span *ngIf="sortColumn === 'fechaVencimiento' && sortDirection === 'asc'">▲</span>
            <span *ngIf="sortColumn === 'fechaVencimiento' && sortDirection === 'desc'">▼</span>
          </th>
          <th class="text-align: right;" role="button" (click)="sortTable('estatusTemporal')">
            Estatus Temporal
            <span *ngIf="sortColumn === 'estatusTemporal' && sortDirection === 'asc'">▲</span>
            <span *ngIf="sortColumn === 'estatusTemporal' && sortDirection === 'desc'">▼</span>
          </th>

          <th style="text-align: center !important;">Acci&oacute;n</th>
        </tr>
      </thead>

      <tbody class="contenido-tablas" *ngIf="filteredRequests.length > 0">
        <tr *ngFor="let item of processRequests">
          <td class="text-left">{{ item.nombreProceso }}</td>
          <td class="text-left">{{ item.expediente }}</td>
          <td class="text-left">{{ item.estado }}</td>
          <td class="text-left">{{ item.etapa }}</td>
          <td class="text-left">{{ item.tarea }}</td>
          <td class="text-left">{{ item.estadoTarea }}</td>

          <td style="text-align: left !important;">
            <p class="mb-0">
              {{ item.fechaVencimiento | date: 'dd/MM/yyyy' }}
            </p>
          </td>
          <td class="text-left">
            <ng-container [ngSwitch]="item.estatusTemporal">
              <span *ngSwitchCase="'1'">Vencida</span> 
              <span *ngSwitchCase="'2'">Próxima a Vencer</span>
              <span *ngSwitchCase="'3'">En Término</span>
             </ng-container>
            <span *ngIf="item.estatusTemporal==='3'" class="govco-exclamation-triangle exclamation-green"></span>
            <span *ngIf="item.estatusTemporal==='1'" class="govco-exclamation-triangle exclamation-red"></span>
            <span *ngIf="item.estatusTemporal==='2'" class="govco-exclamation-triangle exclamation-yellow"></span>

            
          </td>
          <td style="text-align: left !important; padding-right: 10px;">


            <!-- Acciones-->
            <a class="button-modal-enabled-none" data-bs-toggle="modal" #openbuttonSeeScheme
              data-bs-target="#verEsquemaModal" href="#"></a>
            <a type="button"  [routerLink]="['/gestionar-procesos']" class="me-0" href="#" tabindex="0">Gestionar proceso</a>

          
          </td>
        </tr>
      </tbody>

      <tbody >
      <tr>
        <td colspan="9" *ngIf="filteredRequests.length === 0"  class="text-center" >
          No se encuentra información con los criterios de búsqueda seleccionados
        </td>
      </tr>
    </tbody>

      <!--  <tbody >
      <tr>
        <td colspan="7">
          <entidades-loading-modal></entidades-loading-modal>
        </td>
      </tr>
    </tbody>-->
    </table>
    <subsidios-paginator [totalCount]="4" [pageSize]="5" [currentPage]="2"></subsidios-paginator>
  </div>



</div>