<h4 class="h4-tipografia-govco mt-3">
  <span class="govcolor-marine"> PARTES DEL PROCESO</span>
</h4>
<span class="label-desplegable-govco">
  Se&ntilde;or usuario, a continuaci&oacute;n puede consultar una o varias
  partes de un proceso.
</span>
<div class="rounded-3 mb-5 mt-3" [formGroup]="formQueryScheme">
  <div class="row">
    <!--tipo de Parte-->
    <div class="col-md-4">

      <label for='tipoParte' class='form-label govcolor-tundora'>Tipo de parte:</label>
      <select class='form-select select-dark-border desplegable-govco'  name='tipoParte' id='Proceso' formControlName='tipoParte' autocomplete='off'>
        <option  class="govcolor-dim-gray" value="1" disabled selected hidden>Escoger</option> 
        <option *ngFor='let row of typesListParts' [value]='row.value'>
          {{ row.text }}
        </option>
      </select>
      <label class=" entradas-de-texto-govco info-entradas-de-texto-govco govcolor-dim-gray" style="padding-top:10px ;">
        Seleccione una parte del proceso</label>

   
    </div>
    <!--Numero de id-->
    <div class="col-md-4">
      <subsidios-input
        [control]="$any(formQueryScheme.get('keyword'))"
        type="text"
        label="No. identificación"
        placeholder="Ej. 234"
        [showStatus]="false"
        [maxLength]="10"
        [minLength]="5"
        typeValidation="alphanumeric"
        note="Ingrese un número de identificación"
      ></subsidios-input>
    </div>

    <!--Razon social-->
    <div class="col-md-4">
      <subsidios-input
        [control]="$any(formQueryScheme.get('keyword'))"
        type="text"
        label="Nombre/Raz&oacute;n social"
        placeholder="Ej. 234"
        [showStatus]="false"
        [maxLength]="50"
        [minLength]="5"
        typeValidation="alphabetic"
        note="Ingrese un nombre"
      ></subsidios-input>
    </div>

    <!--Departamento-->

    <div class="col-md-4"> 

      <label for='tipoParte' class='form-label govcolor-tundora'>Departamento:</label>
      <select class='form-select select-dark-border desplegable-govco'  name='departamento' id='departamento' formControlName='departamento' autocomplete='off'>
        <option  class="govcolor-dim-gray" value="1" disabled selected hidden>Escoger</option> 
        <option *ngFor='let row of typesListDepartment' [value]='row.value'>
          {{ row.text }}
        </option>
      </select>
      <label class=" entradas-de-texto-govco info-entradas-de-texto-govco govcolor-dim-gray" style="padding-top:10px ;">
        Seleccione una departamento</label>
     
    </div>

    <!-- Municipio-->

    <div class="col-md-4">

      <label for='tipoParte' class='form-label govcolor-tundora'>Municipio:</label>
      <select class='form-select select-dark-border desplegable-govco'  name='municipio' id='municipio' formControlName='municipio' autocomplete='off'>
        <option  class="govcolor-dim-gray" value="1" disabled selected hidden>Escoger</option> 
        <option *ngFor='let row of typesListMunicipal' [value]='row.value'>
          {{ row.text }}
        </option>
      </select>
      <label class=" entradas-de-texto-govco info-entradas-de-texto-govco govcolor-dim-gray" style="padding-top:10px ;">
        Seleccione un municipio</label>

    </div>
  </div>

  <div class="row mt-4 mb-3 text-left">
    <div class="col-md-12">
      <a
        class="button-modal-enabled-none"
        data-bs-toggle="modal"
        data-bs-target="#crearEsquemaModal"
        href="#"
        #openbuttoncreate
      ></a>
      <button
      (click)="filterResults()"
        class="btn-govco outline-btn-govco btn-govco-custom btn-govco-space mt-1"
      >
        Buscar
      </button>

      <button
        type="button"
        class="btn-govco outline-btn-govco btn-govco-custom btn-govco-space btn-cancel mt-1"
        (click)="resetFilters()"
      >
        Limpiar
      </button>
      <button
        type="button"
        (click)="onCreatePart()"
        class="btn-govco fill-btn-govco btn-govco-custom btn-govco-space mt-1"
      >
        Crear&nbsp;parte
      </button>
    </div>
  </div>

  <!--Tabla-->

  <div class="row">
    <div class="col-md-10">
      <h4 class="h4-tipografia-govco mt-3 mb-2">
        <span class="govcolor-marine"> Resultado de consulta </span>
      </h4>
    </div>
    <div class="col-md-2">
      <p lang="es" class="text2-tipografia-govco mt-3 mb-2">
        Total registros: {{ filteredRequests.length}}
      </p>
    </div>
  </div>

  <div class="table-responsive">
    <table
      class="table table-general table-basic"
      aria-describedby="tableDescBasic"
    >
      <thead class="encabezado-tabla">
        <tr>
          <th class="columna-especial" role="button" (click)="sortTable('tipoParte')" >
            Tipo&nbsp;de&nbsp;parte
            <span *ngIf="sortColumn === 'tipoParte' && sortDirection === 'asc'">▲</span>
            <span *ngIf="sortColumn === 'tipoParte' && sortDirection === 'desc'">▼</span>
          </th>
          <th role="button"  (click)="sortTable('noIdentificacion')" >
            No. identificaci&oacute;n
            <span *ngIf="sortColumn === 'noIdentificacion' && sortDirection === 'asc'">▲</span>
            <span *ngIf="sortColumn === 'noIdentificacion' && sortDirection === 'desc'">▼</span>
          </th>
          <th role="button" (click)="sortTable('nombreRazonSocial')" >
            Nombre/Razon&nbsp;social
            <span *ngIf="sortColumn === 'nombreRazonSocial' && sortDirection === 'asc'">▲</span>
            <span *ngIf="sortColumn === 'nombreRazonSocial' && sortDirection === 'desc'">▼</span>
          </th>
            <th class="text-align: right; columna-estado" role="button"  (click)="sortTable('departamento')" >
            Departamento
            <span *ngIf="sortColumn === 'departamento' && sortDirection === 'asc'">▲</span>
            <span *ngIf="sortColumn === 'departamento' && sortDirection === 'desc'">▼</span>
          </th>
          <th class="text-align: right; columna-estado" role="button"  (click)="sortTable('municipio')" >
            Municipio
            <span *ngIf="sortColumn === 'municipio' && sortDirection === 'asc'">▲</span>
            <span *ngIf="sortColumn === 'municipio' && sortDirection === 'desc'">▼</span>
          </th>

          <th style="text-align: center !important">Acciones</th>
        </tr>
      </thead>

      <tbody class="contenido-tablas" *ngIf="filteredRequests.length > 0">
        <tr *ngFor="let item of partes">
          <td class="text-left">{{ item.tipoParte }}</td>
          <td class="text-left">{{ item.noIdentificacion }}</td>

          <td style="text-align: left !important">
            <p class="mb-0">
              {{ item.nombreRazonSocial }}
            </p>
          </td>
          <td class="text-left">
            {{ item.departamento }}
          </td>

          <td class="text-left">
            {{ item.municipio }}
          </td>
          <td style="text-align: center !important; padding-right: 10px">
            <!-- Acciones-->
            <a type="button"  [routerLink]="['/detalles-parte']" class="me-0" href="#" tabindex="0">Ver&nbsp;detalle</a>

            <!--editar modal-->
            <a type="button" [routerLink]="['/editar-parte']"  class="ms-2 me-2" href="#" tabindex="0"> Editar
            </a>

            <!--eliminar modal-->
          <a type="button" (click)="onDeletePart()"
          (keypress)="onDeletePart()"  class="me-0" tabindex="0">Eliminar</a>


          </td>
        </tr>
      </tbody>

      <tbody >
      <tr>
        <td colspan="6" class="text-center" *ngIf="filteredRequests.length === 0">
          No se encuentra información con los criterios de búsqueda seleccionados
        </td>
      </tr>
    </tbody>

      <!--  <tbody >
      <tr>
        <td colspan="7">
          <entidades-loading-modal></entidades-loading-modal>
        </td>
      </tr>
    </tbody>-->
    </table>
    <subsidios-paginator
      [totalCount]="6"
      [pageSize]="5"
      [currentPage]="1"
    ></subsidios-paginator>
  </div>

<div #dialog ></div>

</div>
