<div class="container-modal-govco modal" id="modal_basico">
  <div class="modal-container-govco" tabindex="-1" data-bs-backdrop="false" data-bs-keyboard="false" aria-hidden="true"
    aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-govco">
      <div class="modal-content modal-content-govco">
        <div class="modal-header modal-header-govco">
          <a *ngIf="dialogData.buttonClose" role="button" data-bs-dismiss="modal" class="close-btn-modal"
            aria-label="Close" aria-expanded="false" (click)="close()">
            <span class="modal-close-govco govco-times"></span>
          </a>
        </div>
        <div class="modal-body modal-body-govco center-elements-govco">
          <div class="modal-icon">
            <span class="modal-icon-govco" [ngClass]="dialogData.classNameIcon"></span>
          </div>
          <h3 class="modal-title-govco" [ngClass]="dialogData.classNameText">{{ dialogData.title }}</h3>
          <h3 *ngIf="!dialogData.subtitle" class="modal-subtitle-govco">{{ dialogData.subtitle }}</h3>
         <!-- <p class="modal-text-govco modal-text-center-govco">-->
            <p class="modal-text-govco ">
            {{ dialogData.body }}
          </p>
        </div>
        <div class="modal-footer-govco">
          <div class="modal-buttons-govco" [ngClass]="{ 'modal-one-button': dialogData.isOneButton }">
            <button [disabled]="dialogData.isProcessing" *ngIf="dialogData.buttonCancel" (click)="cancel()" class="btn btn-primary btn-modal-govco btn-contorno">
              {{ dialogData.textButtonCancel }}
            </button>
            <button [disabled]="dialogData.isProcessing" *ngIf="dialogData.buttonConfirm" (click)="confirm()" class="btn btn-primary btn-modal-govco">
              <ng-container *ngIf="dialogData.isProcessing; else elseNotDone">
                <div class="spinner-border text-white" style="height: 20px; width: 20px" role="status">
                  <span class="visually-hidden">Cargando...</span>
                </div>
              </ng-container>
              <ng-template #elseNotDone> {{ dialogData.textButtonConfirm }} </ng-template>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
