<button type="button" class="btn btn-primary" data-bs-target="#configurarFlujoModal" data-bs-toggle="modal">
    Abrir modal
  </button>

  <div class="modal fade" id="configurarFlujoModal" tabindex="-1" aria-labelledby="configurarFlujoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <h4 class="h4-tipografia-govco">
              <span class="govcolor-marine">Configuración Flujo Tarea</span>
            </h4>
          </div>
          <a id="closePreliminarViewModal" href="#" role="button" data-bs-dismiss="modal" class="close-btn-modal" aria-label="Close" aria-expanded="false">
            <span class="modal-close-govco govco-times"></span>
          </a>
        </div>
        <div class="modal-body">
          <div class="row justify-content-center mb-3">
            <div class="col-2 d-flex justify-content-center align-items-center">
              <p lang="en" class="text1-tipografia-govco m-0">Etapa</p>
            </div>
            <div class="col-7 pb-3">
              <subsidios-dropdown-list idList="type-345676" type="basic" [disabled]="false"></subsidios-dropdown-list>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-general table-basic">
              <thead class="encabezado-tabla">
                <tr>
                  <th>No.</th>
                  <th>TAREA</th>
                  <th style="text-align: center !important">Acciones</th>
                </tr>
              </thead>
              <tbody class="contenido-tablas">
                <tr *ngFor="let tarea of tareas; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ tarea.nombre }}</td>
                  <td style="text-align: center !important">
                    <span class="govco-arrow-alt-circle-up" (click)="moverArriba(tarea.id)" [ngClass]="{ 'disabled-icon': i === 0 }" style="font-size: 1.8rem; cursor: pointer; color: #3366CC;"></span>
                    <span class="govco-arrow-alt-circle-down" (click)="moverAbajo(tarea.id)" [ngClass]="{ 'disabled-icon': i === tareas.length - 1 }" style="font-size: 1.8rem; cursor: pointer; color: #3366CC;"></span>
                  </td>
                </tr>
              </tbody>
            </table>
            <subsidios-paginator [totalCount]="6" [pageSize]="5" [currentPage]="1"></subsidios-paginator>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" class="btn-govco fill-btn-govco btn-govco-custom btn-govco-space mt-1" (click)="showModal($event)">
            Guardar flujo
          </button>
          <button type="button" class="btn-govco outline-btn-govco btn-govco-custom btn-govco-space" data-bs-dismiss="modal" (click)="cancelar()">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>

  <a class="button-modal-enabled-none" data-bs-toggle="modal" #closePreliminarViewModal data-bs-target="#configurarFlujoModal" href="#" hidden="true"></a>

  <div #dialog></div>
