<h3 class="h3-tipografia-govco">
    <span class="govcolor-marine">Ver plantilla de correo electrónico</span>
</h3>
<div class="rounded-3 mb-5 mt-3">
    <div class="row">
        <p><span class="label-desplegable-govco">ID*:</span></p>
        <p><b><span class="label-desplegable-govco">123</span></b></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p><span class="label-desplegable-govco">Proceso:</span></p>
            <p><b><span class="label-desplegable-govco">Proceso 1</span></b></p>
        </div>
        <div class="col-md-4">
            <span class="label-desplegable-govco">Tema:</span>
            <p><b><span class="label-desplegable-govco">Tema 1</span></b></p>
    </div>      
    <div class="row">
        <span class="label-desplegable-govco">Nombre*:</span>
        <b><span class="text-left">ABC.............................</span></b>
        <span class="label-desplegable-govco">Descripci&oacute;n*: </span>
        <b><span class="text-left">ABC.............................</span></b>
    </div>
    <div class="row">
        <span class="label-desplegable-govco">Desde*:</span>
        <b><span class="text-left">nombreusuariodominio.texto</span></b>
        <span class="label-desplegable-govco">Destinatario:</span>
        <b><span class="text-left">nombreusuariodominio.texto</span></b>
        <span class="label-desplegable-govco">Cc:</span>
        <b><span class="text-left">nombreusuariodominio.texto</span></b>
    </div>
    <div class="row">
        <span class="label-desplegable-govco">Asunto*:</span>
        <b><span class="text-left">ABC.............................</span></b>
        <span class="label-desplegable-govco">Cuerpo del correo*: </span>
        <b><span class="text-left">ABC.............................</span></b>  
    </div>
</div>