<h3 class="h3-tipografia-govco">
    <span class="govcolor-marine">Ver plantilla de correo electrónico</span>
</h3>
<div class="rounded-3 mb-5 mt-3"> 
    <div class="row">
        <label>ID*:</label>
        <div class="col-md-2 entradas-de-texto-govco">
            <input type="text" id="input-basico-id" placeholder="123" disabled/>   
        </div>
    </div>
    <div class="row">
        <!--Proceso-->
        <div class="col-md-4 entradas-de-texto-govco">
            <label>Proceso:</label>
            <p></p>
                <input type="text" id="input-basico-id" placeholder="Proceso 1" disabled/>   
        </div>
        <!--Tema-->
        <div class="col-md-4 entradas-de-texto-govco">
            <label>Tema:</label>
            <p></p>
                <input type="text" id="input-basico-id" placeholder="Tema 1" disabled/>   
        </div>
    </div>  
    <div class="row">
        <div class="col-md-4 entradas-de-texto-govco">
            <label>Nombre*:</label>
            <p></p>
                <input type="text" id="input-basico-id" placeholder="Nombre..." disabled/>   
        </div>
        <div class="col-md-4 entradas-de-texto-govco">
            <label>Descripción*:</label>
            <p></p>
                <input type="text" id="input-basico-id" placeholder="Descripción..." disabled/>   
        </div>
        <div class="col-md-4 entradas-de-texto-govco">
            <label>Asunto*:</label>
            <p></p>
                <input type="text" id="input-basico-id" placeholder="Asunto..." disabled/>   
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 entradas-de-texto-govco">
            <label>Cuerpo del correo*:</label>
            <p></p>
                <input type="text" id="input-basico-id" placeholder="Cuerpo del correo..." style="min-height: 10rem; min-width: 100%;" disabled/>   
        </div>
        <p></p>
        <p></p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" 
            class="btn-govco outline-btn-govco btn-govco-custom btn-govco-space btn-cancel mt-1"
            [routerLink]="['/plantilla-correo']">
                Cerrar
               </button>   
        </div>    
    </div>
</div>