<div
  class="modal fade"
  id="fileDocumentModal"
  tabindex="-1"
  aria-labelledby="fileDocumentModalLabel"
  aria-hidden="true"
>
  <form>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <h4 class="h4-tipografia-govco">
              <span>
                Documento radicado
              </span>
            </h4>
          </div>
          <a
            href="#"
            role="button"
            data-bs-dismiss="modal"
            class="close-btn-modal"
            aria-label="Close"
            aria-expanded="false"
          >
            <span class="modal-close-govco govco-times"></span>
          </a>
        </div>
        <div class="modal-body">
            <div class="row">
                <p></p>
                <button type="button"
                 class="btn-govco fill-btn-govco"
                 style="width: 300px; height: 42px;"
                 >
                 Ver radicado
                </button>
            </div>
            <div class="row">
                <p></p>
                <button type="button"
                class="btn-govco fill-btn-govco"
                style="width: 300px; height: 42px;"
                >
                Descargar radicado
               </button>
            </div>
        </div>
      </div>
    </div>
  </form>
</div>

