:host {
  display: block;
}

.-mt-4{
  margin-top: -0.8438rem !important;
}

.-mt-2{
  margin-top: -0.3669rem;
}

@media  screen and (max-width: 768px) {
  .label-filtrar{
    margin-top: 0.7rem;
  }
}

@media screen and (min-width: 768px) {
  .md-mt-5{
    margin-top: 1.8813rem;
  }
}
